service adaptiverated /vendor/bin/adaptiverated
    class main
    user system
    group system input graphics
    capabilities SYS_NICE
    disabled
    oneshot

on property:vendor.adaptive_refresh.enabled=1
    start adaptiverated

on property:vendor.adaptive_refresh.enabled=0
    stop adaptiverated
